NEXT_PUBLIC_SUPABASE_URL=https://xnyszubcycvvdkznltcu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhueXN6dWJjeWN2dmRrem5sdGN1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQxMjA2OTQsImV4cCI6MjA3OTY5NjY5NH0.hGpZecCaDy4PykGF1FAytO7S0C64AUeQO54BEFLyrlo